@charset "UFT-8";
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@font-face{
    font-family: 'fontedalogo';
        src:url("../_fonts/computer-font.ttf");
}

body{
    font-family: sans-serif;
	color: rgba(0,0,0, 0.9);
    background-color: rgba(0,0,0,.3);
}

div#interface{
    width: 1200px;
    margin: -20px auto 10px auto;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}


p{
	 text-align:justify;
	 text-indent: 40px;
}

a{
    color:rgba(0,0,0,.5);
    text-decoration: none;
}

a:hover{
text-decoration: underline;

}

/* Formatação do cabeçalho */

header#cabecalho{
    border-bottom: 1px solid rgba(0,0,0,.8);
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;

}

header#cabecalho h1{
    font-family:fontedalogo, sans-serif;
    font-size: 30pt;
    color: rgba(0,0,0,.7);
    text-shadow: 1px 2px 1px rgba(0,0,0,.7);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Major Mono Display', monospace;
    font-size: 15pt;
    color: rgba(0,0,0,.6);
    padding: 0px;
    margin-top: 0px;
}

header#cabecalho img#icone{
    position: absolute;
    left: 1100px;
    top: 70px;
    
}

/* Formatação de imagem com legenda */

figure.foto-legendada{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    width: 600px;
    height: 338px;
    

    
}

figure.foto-legendada img{
    width: 100%;
    height: 100%;
}


figure.foto-legendada figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 1s;
}

figure.foto-legendada figcaption h1{
    font-weight: bolder;
    font-size: 18pt;
}

figure.foto-legendada:hover figcaption{
    opacity: 1;
}

    /*Formatação do menu*/

nav#menu{
    display: block;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: white;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 630px;
}

nav#menu li{
    display:inline-block;
    background-color:rgba(0,0,0,.1);
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: rgba(0,0,0,.5);
}


nav#menu h1{
    display: none;
}


section#corpo{
    display: block;
    width: 690px;
    float: left;
    border-right: 1px solid rgba(0,0,0,.8);
    padding-right: 30px;
    
}
    /*Tabela de informações*/

table#tabelaspecs{
    border: 1px solid rgba(0,0,0,.8);
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

table#tabelaspecs td{
    
    border: 1px solid rgba(0,0,0,.8);
    padding: 10px;
    text-align: center;
}

table#tabelaspecs td.ce{
    color: white;
    border: 0px;
    background-color: rgba(0,0,0,.9);
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

table#tabelaspecs td.cd{
    vertical-align: middle;
    background-color: rgba(0,0,0,.4);
}

table#tabelaspecs caption{
    font-size: 13pt;
    color: rgba(0,0,0,.7);
    font-weight: bold;
}

table#tabelaspecs caption span{
    
    font-size: 8pt;
    font-weight: bolder;
    display: block;
    float: right;
    color: black;
    margin-top: 10px;
}

 /* Lateral */

aside#lateral{
  display: block;
    width: 450px;
    float: right;
    background-color: rgba(0,0,0,.1);
    margin: 5px;
    box-shadow: 2px 1px 4px black;
    
}

aside#lateral p{
    margin: 20px 3px 20px 3px;
    text-align: justify;
}

aside#lateral h1{
    font-family: fontedalogo;
    font-size: 20pt;
    color: rgba(0,0,0,.7);
    margin-top: 5px;
    text-indent: 10px;
}


aside#lateral h2{
    font-size: 12pt;
    background-color: rgba(0,0,0,.5);
    padding: 8px 0px 8px 0px;
    text-indent: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

 /*final de pagina*/
 
footer#rodape{
    clear: both;
    border-top: 1px solid rgba(0,0,0,8);
}

footer#rodape p{
    text-align: center;
    
}


article#noticia-principal h2{
    font-size: 12pt;
    color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.2);
    padding: 10px 0px 10px 0px;
    margin: 10px;
    text-indent: 10px;
}


header#cabecalho-artigo h1{
    font-family: fontedalogo, sans-serif;
    font-size: 20pt;
    color: rgba(0,0,0,.7);
    margin-bottom: -2px;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: rgba(0,0,0,.5);
    background-color: white;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 12pt;
    color: rgba(0,0,0,.4);
    
}

header#cabecalho-artigo h3.direita{
    text-align: right;
    margin-bottom: -6px;
    margin-right: 10px;
}